* {
    box-sizing: border-box;
}
div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 10px;
}

div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0b7dda;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 10px;
}

div.example button:hover {
    background: #0b7dda;
}

div.example::after {
    content: "";
    clear: both;
    display: table;
}
.example{
    margin: 5% 8% 5% 8%;
}
.new-repository{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 20%;
}
.star{
    width: 15px;
    height: 15px;
    margin: 12px;
}
.new-repository-box1{
    padding-bottom: 5%;
}
.new-repository-box2{
    display: flex;
}
.new-repository-date{
    font-size: small;
    color: gray;
    margin-right: 10px;
}
.new-repository-stars{
    font-size: small;
    color: gray;
}
.new-repository-name{
    font-size: x-large;
}
.alert{
    color: red;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: large;
}
